{% extends "store/base_generic.html" %}

{% block content %}
  <div align="center" style="margin-top: 80px" id="header">
    <p align="center" class="text-info fs-2" style="font-size: x-large">Store - это</p>
    <p align="cener" class="fw-light fs-4">платформа для подбора товаров, сравнения цен
        и выгодных покупок.</p>
  </div>

  <div align="center" style="margin-top: 50px">
    {# TODO - url for producsts #}
    <a href="#" class="btn btn-dark" role="button">За покупками</a>
  </div>
{% endblock content %}
