{% extends "store/base_generic.html" %}

{% block content %}
  <h1 >Hi customers!</h1>
  {% if not object_list.exists %}
    <p><b>Unfortunately, we don't have buyers yet.</b>
  {% else %}
    <ul class="list-group list-group-flush">
      {% for customer in object_list %}
        <li class="list-group-item">{{ customer.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock content %}

{% comment %}
Checking empty query set:
https://stackoverflow.com/questions/1387727/checking-for-empty-queryset-in-django 
{% endcomment %}
