{% extends 'base.html' %}

{% block title %}
  About me
{% endblock %}

{% block body %}
    <div align="center" style="margin-top: 80px" id="header">
        <p align="center" class="text-info" style="font-size: x-large">Hi, I'm Andrew!</p>
        <p align="center">I like to learn new things, netflix and hookah
    </div>

    <div align="center" style="margin-top: 120px" id="content">
        <p>By day, I work as a hardware engineer. I support the infrastructure with over 10_000 servers.</p>
        <p>By night I'm interesting in DevOps culture: tools 🐍 ☁️ 🐋 🕸</p>
        <p align="center"><a href="https://github.com/karma-git/DevOps-Exploring">GitHub repo</a></p>
    </div>

{% endblock %}