{% extends "base_generic.html" %}

{% block title %}
  Articles
{% endblock %}

{% block content %}
  <div align="center" style="margin-top: 80px" id="greetings">
  
      <li class="list-group-item"> {{ object.title }} </li>
      <li class="list-group-item"> {{ object.text }} </li>
      <li class="list-group-item"> {{ object.author.username }} </li>

      {% url 'article_update' object.id as ue %}
      {% url 'article_detail' object.id as ud %}
      {% include 'button_conditionals.html' with url_edit=ue url_delete=ud %}

  </div>
{% endblock content %}
