{% extends "base_generic.html" %}

{% block title %}
  Articles
{% endblock %}

{% block content %}
  <div align="center" style="margin-top: 80px" id="greetings">
  
    {% if not object_list.exists %}
      <p class="text-danger fs-2">There are no articles</p>     
    {% endif %}

    {% for article in object_list %}
      <li class="list-group-item"> Title: {{ article.title }} (Author: {{ article.author.username }}) </li>
      <ul><a href="{% url 'article_detail' article.pk %}">detail</a></ul>
    {% endfor %}

    <div style="margin-top: 35px" id="add">
      <a href="{% url 'article_create' %}" class="btn btn-primary" role="button">add new article</a>
    </div>
  
  </div>
{% endblock content %}
