{% extends "store/base_generic.html" %}

{% block title %}
  Products
{% endblock %}

{% block content %}
  <h1>Our products:</h1>
  {% if not object_list.exists %}
  <p class="text-danger font-monospace">Unfortunately, our stock is empty right now.</p>
  {% else %}
    <ul class="list-group list-group-flush">
      {% for product in object_list %}
        <li class="list-group-item"><a href="{% url 'product_detail' product.pk %}">{{ product.goods }}</a> -> {{ product.price }} RUB</li>
      {% endfor %}
  {% endif %}
  {% if perms.store.add_product %}
  <div style="margin-top: 35px" id="add">
    <a href="{% url 'product_create' %}" class="btn btn-primary" role="button">add new product</a>
  </div>
  {% endif %}

{% endblock content %}
